[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-restframework = "*"
drf-yasg = "*"
mysqlclient = "*"
django-rest-auth = "*"
djangorestframework-simplejwt = "*"
django-crontab = "*"
gunicorn = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
